{% comment %}
  Icon: Facebook
  Usage: {% render 'icon-facebook' %}
{% endcomment %}
<svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
  <g>
    <title>Shape 4</title>
    <path d="M50.00011,24.99998c0,-13.80923 -11.19164,-24.99999 -24.99996,-24.99999c-13.80878,0 -25.00008,11.19076 -25.00008,24.99999c0,13.80773 11.19129,24.9999 25.00008,24.9999c0.14626,0 0.29285,0 0.43945,-0.00993v-19.45413v0h-5.37117v0v-6.25857v0h5.37117v0v-4.60958c0,-5.34174 3.26157,-8.25219 8.02734,-8.25219c2.28493,0 4.24793,0.16706 4.81441,0.24475v5.58507v0h-3.28125c-2.5882,0 -3.09563,1.23117 -3.09563,3.03737v3.98474v0h6.20087v0l-0.81036,6.25907v0h-5.39051v0v18.50727c10.44914,-2.99898 18.09563,-12.61845 18.09563,-24.03376z" fill="#ffffff" fill-opacity="1"></path>
  </g>
</svg>
